attrs==19.1.0
cached-property==1.5.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
crayons==0.2.0
Django==2.2.1
env==0.1.0
forex-python==1.5
get==2019.4.13
gunicorn==19.9.0
idna==2.8
mysql-connector-python==8.0.15
mysqlclient==1.4.2.post1
packaging==19.0
Pillow==6.0.0
post==2019.4.13
public==2019.4.13
pyparsing==2.3.1
pythonfinder==1.2.0
pytz==2019.1
query-string==2019.4.13
request==2019.4.13
requests==2.21.0
simplejson==3.16.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.24.1
virtenv==0.2.5
virtualenv==16.4.3
vistir==0.3.1
yaspin==0.14.1