{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
        
        {% if messages %}
          {% for message in messages %}
              {{ message }}
          {% endfor %}
        {% endif %}
        <!-- Description list alignment -->
        <section id="description-list-alignment">
          <div class="row justify-content-md-center">
            <!-- Description lists horizontal -->
            <div class="col-md-8">
            <div class="card profile-card-with-stats">   
                <div class="card-header">
                  <h4 class="card-title">Available Balance
                  </h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="text-center">
                  <div class="card-content">
                    <div class="card-body">
                     <i class="fa fa-user-circle-o fa-5x"></i>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">Hello, Your available balance is {{ currency }} {{ balance }}</h4>
                      <p>To add money to your Paystack balance, you will need to use the <a href="https://paystack.helpscoutdocs.com/article/67-the-paystack-topup-feature">Paystack Topup Feature.</a></p>

                    <b>Note: All amount displayed are in Kobo.</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Description lists horizontal-->
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock content %}