<!-- - var menuBorder = true-->
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

	{% include "head.html" %}
	<body class="vertical-layout vertical-menu-modern 2-columns   menu-expanded fixed-navbar"
data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
  <!-- fixed-top-->
		{% include "header.html" %}
		{% include "sidebar.html" %}
	       
		{% block content %}
		{% endblock content %}

		{% include "footer.html" %}
		{% include "scripts.html" %}
	</body>
</html>