{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
          <h3 class="content-header-title mb-0">Bulk Disbursement</h3>
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active"><a href="#">Bulk Disbursement</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <!-- Basic form layout section start -->
        <section id="basic-form-layouts">
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title" id="basic-layout-card-center">Pay Out</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-content collapse show">
                  <div class="card-body" style="padding: 2.5rem;">
                    <div class="card-text">
                      <p>This example shows a ways to center your card with form.</p>
                    </div>
                    <form class="form" method="POST" action="{% url 'bulk_disbursements' %}">
                      {% csrf_token %}
                      <div class="form-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="eventRegInput3">Supplier</label>
                              <select class="select2-theme form-control" id="select2-theme" name="recipient" >
                                {% for key, value in suppliers.items %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                                }
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="eventRegInput3">Amount</label>
                              <input type="text" id="eventRegInput3" class="form-control" placeholder="Amount" name="amount">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="projectinput1">Short Description</label>
                          <input type="text" id="projectinput1" class="form-control" placeholder="Description" name="fname">
                        </div>
                        <div class="form-actions-bottom">
                          <div class="text-left">
                            <button type="submit" class="btn btn-primary btn-sm">Add <i class="ft-thumbs-up position-right"></i></button>
                            <button type="submit" class="btn btn-primary btn-sm">Delete <i class="ft-thumbs-up position-right"></i></button>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="projectinput1">Total</label>
                              <input type="text" id="projectinput1" class="form-control" placeholder="0" readonly="readonly">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row skin skin-square">
                                <fieldset>
                                  <input type="checkbox" id="input-11">
                                  <label for="input-11">Use Common Description</label>
                                </fieldset>
                            <div class="form-group">
                              <input type="text" id="eventRegInput3" class="form-control" placeholder="Description" name="reason">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-actions">
                        <div class="text-right">
                          <button type="submit" class="btn btn-primary">Pay <i class="ft-thumbs-up position-right"></i></button>
                          <button type="reset" class="btn btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- // Basic form layout section end -->
      </div>
    </div>
  </div>
{% endblock content %}