{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
          <h3 class="content-header-title mb-0">Disbursement Records</h3>
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active">Disbursement Records
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <!-- Contextual classes start -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-content collapse show">
                <div class="card-body">
                  <p>Use contextual classes to color table rows or individual cells.</p>
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th><i class="fa fa-lightbulb-o fa-lg"></i></th>
                          <th>Transfer Details</th>
                          <th>Recipient Account</th>
                          <th>Description</th>
                          <th>Date</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for transfer in content %}
                          <tr>
                            <td>{% if transfer.status == 'success' %}<i class="fa fa-circle success"></i>{% else %}<i class="fa fa-circle danger"></i>{% endif%}</td>
                            <td>{{transfer.currency}} {{transfer.amount}} to {{transfer.recipient.name}}</td>
                            <td>{{transfer.recipient.details.account_number}} {{transfer.recipient.details.bank_name}}</td>
                            <td><div class="badge badge-pill badge-border border-success success">{{transfer.recipient.type}}</div>{{transfer.recipient.description}}</td>
                            <td>{{the_date|date:"N j, Y"}}</td>
                            <td><button type="button" class="btn btn-outline-success block btn-sm" data-toggle="modal" data-target="#{{transfer.id}}">View Details</button></td>
                            <!-- Modal -->
                            <div class="modal fade text-left" id="{{transfer.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
                              aria-hidden="true">
                              <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel19">About your transfer</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>

                                  <div class="modal-body">
                                    <div class="wrapper text-center">
                                        <div class="text-primary"><b class="">{{transfer.currency}} {{transfer.amount}}</b> to {{transfer.recipient.name}}</div>
                                        <div class="text-ellipsis text-mid m-t-xs"> <b class="">{{transfer.recipient.details.account_number}}</b> {{transfer.recipient.details.bank_name}}</div>
                                    </div>
                                    <div class="col-md-12">
                                      <ul class="list-group">
                                          <li class="list-group-item row">
                                              <div class="col-md-5"><h5><small class="text-muted">Status</small></h5></div>
                                              <div class="col-md-7"{% if transfer.status == 'success' %}<i class="fa fa-circle success"></i> {{transfer.status}}{% else %}<i class="fa fa-circle danger"></i>{{transfer.status}}{% endif%}</div>
                                          </li>
                                          <li class="list-group-item row">
                                              <div class="col-md-5"><h5><small class="text-muted">Created</small></h5></div>
                                              <div class="col-md-7">{{the_date|date:'N j, Y, P'}}</div>
                                          </li>
                                          <li class="list-group-item row">
                                              <div class="col-md-5"><h5><small class="text-muted">Transfer Code</small></h5></div>
                                              <div class="col-md-7">{{transfer.transfer_code}}</div>
                                          </li>
                                          <li class="list-group-item row">
                                              <div class="col-md-5"><h5><small class="text-muted">Transfer Reference</small></h5></div>
                                              <div class="col-md-7">{{transfer.reference}}</div>
                                          </li>
                                          <li class="list-group-item row">
                                              <div class="col-md-5"><h5><small class="text-muted">Transferred From</small></h5></div>
                                              <div class="col-md-7">{{transfer.currency}} {{transfer.source}}</div>
                                          </li>
                                          <li class="list-group-item row">
                                              <div class="col-md-8"><h5><small class="text-muted"><small class="text-bold-700">Notes:</small> {{transfer.recipient.description}}</small></h5</div>
                                              <div class="col-md-4"></div>
                                          </li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Contextual classes end -->
      </div>
    </div>
  </div>
{% endblock content %}