{% extends "base.html" %}
{% load static %}
{% block title %}Index Page{% endblock %}
{% block content %}
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
        <!-- Stats -->
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="align-self-center">
                        <i class="icon-wallet primary font-large-2 float-left"></i>
                      </div>
                      <div class="media-body text-right">
                        <h3>BALANCE</h3>
                        <h1>{{balance}}</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-12">
            <div class="card bg-success">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body white text-left">
                        <h3>{{number_supplier}}</h3>
                        <h1>Suppliers</h1>
                      </div>
                      <div class="align-self-center">
                        <i class="icon-user white font-large-2 float-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-12">
            <div class="card bg-danger">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="align-self-center">
                        <i class="icon-rocket white font-large-2 float-left"></i>
                      </div>
                      <div class="media-body white text-right">
                        <h3>{{total_disbursements}}</h3>
                        <h1>Disbursements</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!--/ Stats -->
        <!--Product sale & buyers -->
        <div class="row match-height">
          <div class="col-xl-8 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Products Sales</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <div id="products-sales" class="height-300"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Recent Disbursements</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-content px-1">
                <div id="recent-buyers" class="media-list height-300 position-relative">
                  {% for trans in latest_five %}
                    <a href="#" class="media border-0">
                      <div class="media-body w-100">
                        <h4 class="list-group-item-heading">{{trans.recipient.name}}
                        </h4>
                        <span class="font-medium-4 pt-1">{{trans.currency}}{{trans.amount}}</span>
                        <p class="list-group-item-text mb-0">
                          <span class="badge badge-primary">Account number: {{trans.recipient.details.account_number}}</span>
                        </p>
                      </div>
                    </a>
                    
                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ Product sale & buyers -->
      </div>
    </div>
  </div>
{% endblock content %}