{% load static %}
  <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li class=" navigation-header">
          <span>General</span><i class=" ft-minus" data-toggle="tooltip" data-placement="right"
          data-original-title="General"></i>
        </li>
        <li class=" nav-item"><a href="{% url 'index' %}"><i class="ft-home"></i><span class="menu-title" data-i18n="">Home</span></a>
        </li>
        <li class=" nav-item"><a href="#"><i class="ft-briefcase"></i><span class="menu-title" data-i18n="">My Account</span></a>
          <ul class="menu-content">
            <li><a class="menu-item" href="{% url 'balance' %}">Balance Enquiry</a>
            </li>
          </ul>
        </li>
        <li class=" nav-item"><a href="#"><i class="ft-layout"></i><span class="menu-title" data-i18n="">Supplier Management</span></a>
          <ul class="menu-content">
            <li><a class="menu-item" href="{% url 'suppliers' %}">Suppliers</a>
            </li>
            <li><a class="menu-item" href="{% url 'add_supplier' %}">Add Supplier</a>
            </li>
          </ul>
        </li>
        <li class=" nav-item"><a href="#"><i class="ft-monitor"></i><span class="menu-title" data-i18n="">Disbursements</span></a>
          <ul class="menu-content">
            <li><a class="menu-item" href="{% url 'disbursements' %}">Disbursement</a>
            </li>
            <li><a class="menu-item" href="{% url 'single_disbursement' %}">Single Disbursement</a>
            </li>
            <li><a class="menu-item" href="{% url 'bulk_disbursements' %}">Bulk Disbursement</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>