{% extends "base.html" %}
{% load static %}
{% block javascript %}  
  <script src="{% static 'app-assets/vendors/js/extensions/sweetalert.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'app-assets/js/scripts/extensions/sweet-alerts.js' %}" type="text/javascript"></script>
<script type="text/javascript">
   var result;

    function deleteSupplier(id, name){
      event.preventDefault();
      swal({
            title: "Delete Supplier",
            text: "Are you sure you want to delete "+name+" from your suppliers?",
            icon: "warning",
            buttons: {
                    cancel: {
                        text: "No, cancel plx!",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: false,
                    },
                    confirm: {
                        text: "Yes Proceed!!!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: false
                    }
            }
        }).then(isConfirm => {
            if (isConfirm) {

              var csrftoken = getCookie('csrftoken');  

                    $.ajax({
                      beforeSend: function(xhr, settings) {
                          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                              xhr.setRequestHeader("X-CSRFToken", csrftoken);
                          }
                      },
                      url : "/suppliers/delete/"+id, // the endpoint
                      //type : "POST", // http method
                      //data : { description: $('#description').val(), bank_code: $('#bank_code').val(), account_number: $('#account_number').val(), name: $('#name').val() }, // data sent with the post request

                      // handle a successful response
                      success : function(json) {
                          console.log(json);
                          result = json;
                          swal("Done!", "Supplier successfully deleted!!", "success").then(function() {
                                // Redirect the user
                                var return_url = $('#returnUrl').val();
                                window.location.href = return_url;
                                console.log('The Ok Button was clicked.');
                              });
                      },

                      // handle a non-successful response
                      error : function(xhr,errmsg,err) {

                          swal("Error!", xhr.status + ": " + xhr.responseText, "error")
                          
                      }
                  });

            } else {
                swal("Cancelled", "It's safe.", "error");
            }
        });
    }

    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
</script>
{% endblock %}
{% block content %}
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
          <h3 class="content-header-title mb-0">Suppliers</h3>
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active">Suppliers
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <!-- Contextual classes start -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-content collapse show">
                <div class="card-body">
                  <div class="text-right">
                  </div>
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th><i class="fa fa-lightbulb-o fa-lg"></i></th>
                          <th>Name</th>
                          <th>Recipient Code </th>
                          <th>Account</th>
                          <th>Email</th>
                          <th>Added On</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <input type="hidden" value="{% url 'suppliers' %}" name="returnUrl" id="returnUrl">
                        {% for supplier in content %}
                          <tr>
                            <td>
                        {% if supplier.active == True %}<i class="fa fa-circle success"></i>{% else %}<i class="fa fa-circle danger"></i>{% endif%}</td>
                            <td><small class="font-small-3" id="name">{{supplier.name}}</small></td>
                            <td><small class="font-small-3">{{supplier.recipient_code}}</small></td>
                            <td><div class="badge badge-pill badge-border border-success success font-small-3">{{supplier.type}}</div><small class="font-small-3">{{supplier.details.account_number}} {{supplier.details.bank_name}}</small></td>
                            <td>
                              {% if supplier.email == None %}
                                -
                              {% else %}
                                <small class="font-small-3">{{supplier.email}}</small>
                              {% endif%}
                            </td>
                            <td><small class="font-small-3">{{the_date|date:"N j, Y"}}</small></td>
                            <td><div is="0" class="btn-group btn-group-sm" tabindex="0"><a href="#" class="text-muted" data-toggle="modal" data-target="#{{supplier.id}}"><i class="fa fa-pencil"></i></a><a class="text-danger delete_supplier" style="margin-left: 10px;" id="{{supplier.id}}" onclick="return deleteSupplier({{supplier.id}}, '{{supplier.name}}');"> <i class="fa fa-trash"></i></a></div></td>
                            <!-- Modal -->
                            <div class="modal fade text-left" id="{{supplier.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
                            aria-hidden="true">
                              <div class="modal-dialog modal-s" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title center" id="myModalLabel19">Update Recipient</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form class="form" method="POST" action="{% url 'edit_supplier' supplier.id  %}">
                                  {% csrf_token %}
                                    <div class="modal-body" style="padding: 2rem;">
                                      <label>Email Address: </label>
                                      <div class="form-group">
                                        <input type="email" placeholder="{% if supplier.email != None %}{{ supplier.email }}{% else %}Email Address{% endif %}" class="form-control" name="email">
                                      </div>
                                      <label>Recipient Name: </label>
                                      <div class="form-group">
                                        <input type="text" placeholder="{% if supplier.name != None %}{{ supplier.name }}{% else %}Recipient Name{% endif %}" class="form-control" name="name">
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <input type="reset" class="btn btn-outline-secondary btn-sm" data-dismiss="modal"
                                      value="close">
                                      <input type="submit" class="btn btn-outline-primary btn-sm" value="Update Supplier">
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Contextual classes end -->
      </div>
    </div>
  </div>
{% endblock content %}